* {
  font-family: "Fira Mono", "system-ui";
  font-size: 12px;
}

QLineEdit.error {
  color: red;
  border: 1px solid red;
}

#WidgetTabHolder QTableWidget {
  font-size: 10px;
}

.swButtonSwitch {
  width: 20px;
}
